@import "tailwindcss";

/* :root {
  --bg-main: #f5f8fa;
  --surface-white: #ffffff;
  --text-primary: #121317;
  --text-secondary: #45474D;
  --status-success: #34c759;
  --status-error: #ff3b30;
} */

:root {
  --bg-main: #c8e0f4;
  --surface-white: #ffffff;
  --text-primary: #031927;
  --text-secondary: #508aa8;
  --status-success: #34c759;
  --status-error: #ba1200;
}

@theme {
  --font-body: var(--font-google-sans), ui-sans-serif, system-ui;

  /* Mapping Tailwind utilities to CSS variables */
  --color-background: var(--bg-main);
  --color-surface: var(--surface-white);
  
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  
  --color-success: var(--status-success);
  --color-error: var(--status-error);
}

body{
  font-family: var(--font-body);
}

.gsc{
  font-family: var(--font-google-sans-code), monospace;
}