@import "tailwindcss";

/* :root {
  --bg-main: #f5f8fa;
  --surface-white: #ffffff;
  --text-primary: #121317;
  --text-secondary: #45474D;
  --status-success: #34c759;
  --status-error: #ff3b30;
} */

:root {
  --bg-main: #c8e0f4;
  --surface-white: #ffffff;
  --text-primary: #031927;
  --text-secondary: #508aa8;
  --status-success: #34c759;
  --status-error: #ba1200;
}

@theme {
  --font-body: var(--font-google-sans), ui-sans-serif, system-ui;

  /* Mapping Tailwind utilities to CSS variables */
  --color-background: var(--bg-main);
  --color-surface: var(--surface-white);
  
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  
  --color-success: var(--status-success);
  --color-error: var(--status-error);
}

html, body{
  height: 100%;
}

body{
  font-family: var(--font-body);
}

.gsc{
  font-family: var(--font-google-sans-code), monospace;
}

@media (min-width:768px) {
  /* WebKit browsers */
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--bg-main); /* zinc-600 */
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-main); /* zinc-500 */
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--text-primary) transparent;
  }
}